body {
    font-family: 'Inter', sans-serif;
}

/* --- Navigation Section --- */

.nav-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 20px;
    padding: 0 20px; /* This will add 20px of horizontal padding */
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none;
}

.links a {
    display: inline-block;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    text-decoration: none;
    color: black;
    border-radius: 5px; /* This will make the links have rounded edges */
    transition: background-color 0.3s ease; /* This will animate the background color change */
    font-family: 'Inter', sans-serif;
}

.links a:hover {
    background-color: lightgrey; /* This will change the background color to light grey when hovered over */
}

.nav-container {
    width: 60%;
    margin: 0 auto;
}

.logo {
    position: relative;
    display: inline-block;
    overflow: hidden; /* This will hide the pseudo-element when it's outside the .logo container */
    cursor: pointer; /* This will change the cursor to a pointer when hovering over the logo */
}

.logo img {
    width: 120px;
    border: none;
    display: block;
}

.logo::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.2); /* Start with a smaller scale */
    width: 100%;
    height: 100%;
    background: hsla(0, 100%, 50%, 0); /* Initial color is transparent */
    border-radius: 50%;
    transition: transform 0.5s ease, background 0.5s ease; /* Add background transition */
    z-index: 2;
}

.logo:hover::after {
    transform: translate(-50%, -50%) scale(0.9); /* Grow into the initial state */
    background: hsla(360, 100%, 50%, 0.25); /* Increase hue to 360 (full circle) */
}



/* --- Hero Section --- */

.main-content {
    /* Remove default margins */
    margin: 0;
    padding: 0;

    /* Align items vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    height: calc(85vh); /* Replace 60px with the actual height of your navigation */

    /* Add a background image */
    background-image: url('media/hero-background.jpeg');
    background-size: cover; /* Cover the entire area of the div */
    background-position: center; /* Center the image */
    position: relative;
}

.main-content::before {
    /* Create a pseudo-element */
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* Create a gradient overlay */
    background: linear-gradient(to bottom, white 0%, transparent 30%, transparent 70%, white 100%);
}

.content {
    /* Align items vertically */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.main-content h1 {
    /* Additional styling for the heading */
    margin-bottom: 20px; /* Add this property and adjust as needed */
    font-size: 70px;
}

.intro {
    width: 40%;
    text-align: center;
    margin-top: 0; /* Set this to 0 to remove any additional space */
    color: #888888; /* Set the font color to a darker gray */
    line-height: 1.5; /* Increase the line spacing to improve readability */
}

.cta-button {
    /* Adjust the size of the button */
    padding: 18.75px 37.5px; /* Increase padding by 25% */
    font-size: 25px; /* Increase font size by 25% */
    margin-top: 50px; /* Increase margin-top by 25% */

    /* Add rounded edges */
    border-radius: 62.5px; /* Increase border-radius by 25% */

    /* Change the background and text color */
    background-color: #007BFF; /* Change this to your preferred color */
    color: white;

    /* Add some hover effect */
    transition: background-color 0.3s ease;
}

.cta-button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    cursor: pointer;
}

/* Style the icon inside the button */
.cta-button i {
    margin-left: 12.5px; /* Increase margin-left by 25% */
}



/* --- Project Section --- */

/* --- Project Section --- */

.portfolio {
    padding: 20px; /* Add some padding around the cards */
    width: 70%;
    margin: 0 auto; /* Add this line to center the portfolio section */
    display: flex; /* Add this line to enable flexbox */
    flex-direction: column; /* Change the flex direction to column */
    justify-content: center; /* Add this line to center the content horizontally */
    align-items: center; /* Add this line to center the content vertically */
    background-color: #f2f2f2;
    position: relative; /* Add this line to enable absolute positioning */
}

.portfolio::before {
    /* Create a pseudo-element */
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw; /* Set the width to 100% of the viewport width */
    height: 100%;
    background-color: #f2f2f2; /* Set the background color */
    z-index: -1; /* Move the pseudo-element behind the content */
}

.center-heading {
    /* Center the children in the flex box */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 175px;
    font-size: 60px;
    margin-bottom: 10px;
}

.summary {
    margin-bottom: 90px;
    color: #888888; /* Set the font color to a darker gray */
    width: 50%;
    text-align: center; /* Center the text */
}

.cards {
    /* Use Flexbox to layout the cards in a row */
    display: flex;
    justify-content: space-between; /* Add space between the cards */
    margin-bottom: 150px;
    gap: 20px; /* Add a gap between the cards */
}

.card {
    /* Style the cards */
    background-color: white; /* Change this to your preferred color */
    border-radius: 15px; /* Add rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    width: calc((100% - 40px) / 3); /* Calculate the width of each card */
    padding: 40px; /* Add some padding inside each card */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    margin: 10px; /* Add some space around each card */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Add transition property here */
}

.card:hover {
    /* Make the card slightly larger */
    transform: scale(1.05) translateY(-10px);
    /* Change the background color on hover */
    background-color: #b2d8b2; /* Light green */
}

.card i {
    /* Style the icon */
    font-size: 30px; /* Make the icon larger */
    margin-bottom: 10px; /* Add some space below the icon */
}

.card p {
    color: #888888; /* Change the color of the paragraph text */
}